.lite-chatmaster{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.loading {
  font-style: italic;
  color: #888;
}